/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #444;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #7ca837;
  color: #f0f0f0;
	text-shadow: none;
}

::selection {
	background: #7ca837;
  color: #f0f0f0;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
	vertical-align: middle;
}

/*
 * Disable resizing of textareas.
 */

textarea {
	resize: none;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;
	padding: 0px;
	margin: 0px;
	padding-bottom: 20px;
}

a, a:hover, a:active, a:visited {
	color: #444;
	text-decoration: none;
	outline: none;
}

.header {
	position: relative;
	width: 100%;
	padding: 2rem 0;
}

.logo {
	font-size: 8rem;
	text-align: center;
	font-family: 'Cookie', sans-serif;
}

h2 {
  font-size: 1.2em;
  max-width: 500px;
  margin: 0 auto .5em auto;
  text-align: center;
}

h3 {
  font-size: 1em;
  max-width: 500px;
  margin: 0 auto .5em auto;
}

.featured-collections {
  list-style-type: none;
  margin: 2em auto 4em auto;
  max-width: 500px;
  padding: 0px;
  position: relative;
  text-align: center;
  z-index: 0;
}

.featured-collections .collection {
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
  display:  inline-block;
  height: 125px;
  position: relative;
  width: 125px;
}

.featured-collections .collection a {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.featured-collections .collection .cover {
  background-position: center;
  background-size: cover;
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 4em;
  color: #7ca837;
  line-height: 100px;
}

.featured-collections .collection .name {
  background: rgba(124, 168, 55, 0.85);
  border-top: 1px solid #f0f0f0;
  bottom: 0;
  color: #f0f0f0;
  cursor: pointer;
  height: 25px;
  left: 0;
  position: absolute;
  width: 123px;
  padding: 0 10px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.posts {
  margin: 40px auto 0px auto;
  padding: 0px;
  max-width: 500px;
  position: relative;
  z-index: 0;
}

.post {
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
  display: block;
  padding: 1.5rem 0;
  position: relative;
}

.post:last-of-type {
  border-bottom: none;
}

.post .type {
  background: #7ca837;
  color: #f0f0f0;
  font-size: 0.8rem;
  float: left;
  margin-left: -100px;
  width: 50px;
  padding: 0 10px;
  position: relative;
  border-radius: 2px 0 0 2px;
  height: 26px;
  line-height: 26px;
  margin-top: 1rem;
}

.post .type:after {
  content: "";
  position: absolute;
  right: -13px;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 13px solid #7ca837;
  top: 0;
  border-radius: 0 4px 4px 0;
}

.post .image-container {
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
}

.post .image-container img {
  max-width: 100%;
}

.post .footer {
	padding: 0.5rem 1rem;
	width: 100%;
	box-sizing: border-box;
	font-size: 0.9rem;
}

.post .footer a {
	color: #444;
	text-decoration: none;
}

.post .footer a:hover {
	text-decoration: underline;
}

li p {
	width: 500px;
	margin: 0px auto;
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

li > p:nth-of-type(1) {
	font-weight: 500;
}

li > img, li > embed, li > quote {
	margin: 0 auto;
	display: block;
}

quote {
	font-family:'Georgia', serif;
	font-style: italic;
	font-size: 18pt;
	display: block;
	text-align: center;
	line-height: 140%;
	margin-bottom: 20px;
	margin-top: 40px;
}

quote[length='long'] {
	font-size:13pt;
}

.navigation {
	font-size: 1.5rem;
	font-weight: 400;
	text-align:center;
	line-height: 200%;
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.navigation a {
	text-decoration: none;
	vertical-align: baseline;
	display: inline-block;
	color: #7ca837;
	min-width: 1rem;
	padding: 0 0.5rem;
}

.navigation a:hover {
	text-decoration: underline;
}

.navigation a.active {
	transform: scale(1.8);
	margin: 0 10px;
}


.imprint {
	text-align: center;
	margin-top: 20px;
	font-size: 85%;
}

.content {
	max-width: 500px;
	display: block;
	padding: 1rem;
}

.content img {
	max-width: 500px;
	margin-bottom: 20px;
}

.all-pages {
	display: none;
	position: absolute;
	width: 500px;
	left: 0;
	top: 2em;
	border: 1px solid #7ca837;
	background: #fff;
	border-radius: 2px;
	box-sizing: border-box;
	padding: 10px;
}

.description {
	max-width: 500px;
	text-align: justify;
	margin: 0 auto;
	font-size: 0.9rem;
	color: #777;
}

.description a {
	text-decoration: underline;
}

/* ==========================================================================
   Media Queries for Responsive Design
   ========================================================================== */

@media only screen and (max-width: 700px) {
  .header {
    padding: 0.5rem 0;
  }

  .logo {
  	font-size: 5rem;
  }

  .navigation {
    padding-bottom: 2rem;
  }

  .all-pages {
    width: 90%;
    margin-left: 5%;
  }

  .post {
    padding-bottom: 5rem;
    border-top: 1px solid #7ca837;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .post .type {
    margin-left: 0;
    border-radius: 0 0 2px 2px;
    height: 26px;
    line-height: 26px;
    margin-top: calc(-1.5rem - 26px);
  }

  .post .type:after {
    border: none;
  }
}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
